In [1]:

import json
import pandas as pd
import geopandas as gpd

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
aurora = gpd.read_file("aurora.geojson")
aurora

       aurora        geometry
0           4   POINT (0 -90)
1           0   POINT (0 -89)
2           5   POINT (0 -88)
3           5   POINT (0 -87)
4           5   POINT (0 -86)
...       ...             ...
65155       1  POINT (359 86)
65156       0  POINT (359 87)
65157       0  POINT (359 88)
65158       0  POINT (359 89)
65159       0  POINT (359 90)

[65160 rows x 2 columns]